*{
    margin: 0;
    padding: 0;
    font-family: 'Dongle', sans-serif;
    font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #153677, #4e085f);
    padding: 10px;
}

.to-do-app{
    width: 100%;
    max-width: 540px;
    background: white;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.to-do-app h2{
    background: -webkit-linear-gradient(#0552ec, #cc00ff);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.to-do-app img{
    width: 30px;
    margin: 10px;    
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:#edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input{
    flex:1;
    border: none;
    outline: none;
    background:transparent;
    padding: 10px;
}

button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: linear-gradient(135deg, #153677, #4e085f);
    color: aqua;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}

button:hover{
    scale: 1.2;
    transition: ease-in-out 0.25s;
}

ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before{
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 20%;
    background-image: url(images/stop.png);
    background-size: cover;
    background-position: center;
    top:10px;
    left:8px;
}


ul li.checked{
    color: #555;
    text-decoration: line-through;
    font-style: italic;
}

ul li.checked::before{
    background-image: url(images/check.png);
}

ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 30px;
    height: 30px;
    font-size: 22px;
    color: aqua;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover{
    background: linear-gradient(135deg, #153677, #4e085f);
}